// Fonts
@import url("https://fonts.googleapis.com/css?family=Nunito");

// Variables
@import "variables";

// Vuetify
@import "~vuetify/dist/vuetify.min.css";

body {
    font-family: "Nunito", sans-serif;
}

html {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
}
